<!--Banner-->
<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2016/02/Mount-Fuji-New.jpg);">
  <div class="container">


    <h1>Movie List</h1>
    <%= link_to root_path, class:"btn btn-gradient fa-solid fa-house btn-lg", style:"height:auto" do  %>

    <% end %>

    <%= link_to "Create a new list", new_list_path, class: "btn btn-gradient" %>


  </div>
</div>
