<!--Create Form -->
<%# <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 60px;">
  <div class="new-form shadow rounded p-4" style="min-width: 350px; max-width: 400px;"> %>
<%= render 'bookmarks/newform' %>
<%# </div>
</div> %>
