<!--Navbar-->
<%= render 'lists/navbar' %>

<!--Banner-->
<%= render 'lists/banner' %>

<!--Create Form -->
<div class="new-form ">
  <%= render 'bookmarks/newform' %>
</div>

<!--Footer-->
<%= render 'lists/footer' %>
