<!--Footer-->
<div class="footer mt-3">
  <div class="footer-links">
    <a href="https://github.com/HmoriKLTA"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/hayao-mori/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-text">
    <p class='text-black'>Made by Hayao @HmoriKLTA</p>
  </div>
</div>
